/* -------------------------------------------------------------------------
 * DASHBOARD ITEM
 *
 */


.l-dashboard-item {
}

.l-dashboard-item__header {
  @include sp-stack($l-dashboard-item__sp-stack - $f-space--tiny);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  > * {
    @include sp-stack($f-space--tiny);
    @include sp-inline($l-dashboard-item__sp-inline);
    &:last-child {
      @include sp-inline($f-space--none);
    }
  }
}

.l-dashboard-item__title {
}

.l-dashboard-item__owner {
  flex-grow: 1;
}

.l-dashboard-item__options {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.l-dashboard-item__body {
  &.is-unresolved {
    &::before {
      @include sp-inset-v($f-space--huge);
      padding-left: $f-space;
      width: 100%;
      content: attr(data-unresolved-msg);
      text-align: center;
      font-size: $e-document__body--font-size;
      opacity: .5;
    }
  }
}
