/* -------------------------------------------------------------------------
 * DASHBOARD LAYOUT
 */


// Layout vars
// -------------------------------------------------

$l-dashboard--inset-v:                      $f-space--large !default;


// Layout wrappers
// -------------------------------------------------

$l-dashboard__wrapper--from:                null !default;
$l-dashboard__wrapper--to:                  "sml" !default;
$l-dashboard__wrapper--inset-h:             $f-space--medium !default;


// Layout objects
// -------------------------------------------------

$l-dashboard-item__sp-stack:                $f-space--medium !default;
$l-dashboard-item__sp-inline:               $f-space--tiny !default;
