/* -------------------------------------------------------------------------
 * DASHBOARD LAYOUT
 *
 */


// Layout variables
// -------------------------------------------------

@import "vars";


// Layout output
// -------------------------------------------------

.l-dashboard {
  @include sp-inset-v($l-dashboard--inset-v);
  min-height: 100vh;
}


// Layout wrappers
// -------------------------------------------------

.l-dashboard__wrapper {
  @include o-wrapper();
  @if ($l-dashboard__wrapper--from) {
    @include o-wrapper--from($l-dashboard__wrapper--from);
  }
  @if ($l-dashboard__wrapper--to) {
    @include o-wrapper--to($l-dashboard__wrapper--to);
  }
  @include sp-inset-h($l-dashboard__wrapper--inset-h);
}


// Layout objects
// -------------------------------------------------

@import "dashboard-item";
