
$f-font-family__arimo:               'Arimo' !default;

@font-face {
  font-family: $f-font-family__arimo;
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'),
  url('#{$s-config__path--fonts}/arimo/arimo.woff2') format('woff2'),
  url('#{$s-config__path--fonts}/arimo/arimo.woff') format('woff');
}

@font-face {
  font-family: $f-font-family__arimo;
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'),
  url('#{$s-config__path--fonts}/arimo/arimo-bold.woff2') format('woff2'),
  url('#{$s-config__path--fonts}/arimo/arimo-bold.woff') format('woff');
}
