/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Headings known as a material not as a tag
 *
 */

// Material variables
// --------------------------------------------------

// Material toggling

$m-heading--enabled: true !default;

// Material default properties

$m-heading__properties: (
  "font-family"   : $f-font-family__primary,
  "font-weight"   : 700,
  "font-size"     : $f-font-size--xl,
  "line-height"   : $e-headings__line-height,
  "margin-bottom" : $e-headings__margin-bottom
) !default;

// Material Size Modifiers

$m-heading__mod-sizes--enabled : true !default;
$m-heading__mod-sizes          : (
  "small": (
    "font-family"   : $f-font-family__primary,
    "font-weight"   : 700,
    "font-size"     : $f-font-size--m,
    "line-height"   : $e-headings__line-height,
    "margin-bottom" : $f-space--small
  ),
  "medium"          : $m-heading__properties,
  "large": (
    "font-family"   : $f-font-family__primary,
    "font-weight"   : 700,
    "font-size"     : $f-font-size--xxl,
    "line-height"   : $e-headings__line-height,
    "margin-bottom" : $e-headings__margin-bottom
  )
) !default;

// Material Display Modifiers

$m-heading__mod-display--enabled : true !default;


// Headings as a mixin
// --------------------------------------------------

@mixin m-heading($_properties: $m-heading__properties, $_default-properties: $m-heading__properties) {

  // Try to resolve properties from a given string

  @if (type-of($_properties) == "string") {

    @if (map_has_key($_properties, $m-heading__mod-sizes)) {

      $_properties: map_get($m-heading__mod-sizes, $_properties);
    } @else {
      @error "m-heading: `#{$_properties}` needs to be a map or a valid key for $m-heading__mod-sizes";
    }

  }

  @each $_property, $_value in map_merge($_default-properties, $_properties) {

    @if (type_of($_value) == "number") and (unit($_value) == "px") {

      $_value: s-core-px-to-rem($_value);
    }

    #{$_property}: $_value;

  }
}

// Material selector output
// --------------------------------------------------

@if $m-heading--enabled {
  .m-heading {
    @include m-heading($m-heading__properties);
  }
}

// Material sizes modifiers output
// --------------------------------------------------

@if $m-heading--enabled and $m-heading__mod-sizes--enabled {
  @each $_mod-name, $_mod-properties in $m-heading__mod-sizes {
    .m-heading--#{$_mod-name} {
      @include t-props-diff($m-heading__properties, $_mod-properties);
    }
  }
}


// Material display modifiers output
// --------------------------------------------------

@if $m-heading--enabled and $m-heading__mod-display--enabled {
  .m-heading--single-line {
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

