
/* -------------------------------------------------------------------------
 * BOX
 *
 * The box object simply boxes off content.
 * Extend with cosmetic styles in the components layer.
 *
 */


// Object variables
// --------------------------------------------------

@import "vars";


// Object as a mixin
// --------------------------------------------------

@mixin o-box() {
  display: block;
  width: 100%;
  @include t-clearfix();
}


// Object selector output
// --------------------------------------------------

@if ($o-box--enabled) {
  .o-box {
    @include o-box();
  }
}


// Unset as mixin
// --------------------------------------------------

@mixin o-box--unset() {
  display: inherit;
  @include t-clearfix--unset();
}
