/* -------------------------------------------------------------------------
 * LIST SCORED
 */

$c-list-scored__item--sp-stack:       $f-space--small !default;
$c-list-scored__item--gutter:         $f-space--tiny !default;

$c-list-scored__score--font-size:     map-get(map-get($m-body__mod-sizes, "small"), "font-size") !default;
$c-list-scored__score--line-height:   map-get(map-get($m-body__mod-sizes, "small"), "line-height") !default;
$c-list-scored__score--opacity:       .62 !default;
