/* -------------------------------------------------------------------------
 * LIST SCORED
 */

// Component variables

@import "vars";


// Component output

.c-list-scored {
  display: table;
  width: 100%;
}

.c-list-scored__item {
  display: table-row;
}

.c-list-scored__item-score,
.c-list-scored__item-body {
  display: table-cell;
  padding-bottom: $c-list-scored__item--sp-stack;
  vertical-align: top;

  .c-list-scored__item:last-child & {
    padding-bottom: 0;
  }
}

.c-list-scored__item-score {
  width: 1px;
  padding-right: $c-list-scored__item--gutter;
  text-align: right;
  font-size: s-core-px-to-em($c-list-scored__score--font-size);
  line-height: $c-list-scored__score--line-height;
  opacity: $c-list-scored__score--opacity;
}

