
/* -------------------------------------------------------------------------
 * Color Schemes > DEFAULT
 *
 */

// Scheme variables
// --------------------------------------------------

$cs-neutral-light--enabled:                     true !default;

$cs-neutral-light__main-bg:                     $f-color__neutral-white !default;
$cs-neutral-light__main:                        $e-document__body--color !default;
$cs-neutral-light__selection-bg:                $e-document__body--color !default;
$cs-neutral-light__selection:                   $f-color__neutral-white !default;
$cs-neutral-light__border:                      $f-color__neutral-grey--semi-light !default;
$cs-neutral-light__hr:                          $f-color__neutral-grey--semi-light !default;
$cs-neutral-light__link:                        $e-document__body--color !default;
$cs-neutral-light__link-hover:                  $f-color__neutral-grey--ultra-dark !default;
$cs-neutral-light__heading:                     $e-document__body--color !default;


// Scheme map
// --------------------------------------------------
$cs-neutral-light: (
  "main-bg":                              $cs-neutral-light__main-bg,
  "main":                                 $cs-neutral-light__main,
  "selection-bg":                         $cs-neutral-light__selection-bg,
  "selection":                            $cs-neutral-light__selection,
  "border":                               $cs-neutral-light__border,
  "hr":                                   $cs-neutral-light__hr,
  "link":                                 $cs-neutral-light__link,
  "link-hover":                           $cs-neutral-light__link-hover,
  "heading":                              $cs-neutral-light__heading
) !default;

@if variable-exists(color-schemes) {
  $color-schemes: map-merge($color-schemes, ("default": $cs-neutral-light));
}

// Scheme mixin
// --------------------------------------------------

@mixin cs-neutral-light() {

  background-color: $cs-neutral-light__main-bg;
  color: $cs-neutral-light__main;
  border-color: $cs-neutral-light__border;

  &::selection,
  & *::selection {
    background-color: $cs-neutral-light__selection-bg;
    color: $cs-neutral-light__selection;
  }

  a,
  button {
    color: $cs-neutral-light__link;

    &:hover,
    &:focus {
      color: $cs-neutral-light__link-hover;
    }
  }

  hr {
    border-color: $cs-neutral-light__hr;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $cs-neutral-light__heading;
  }

}


// Scheme selector output
// --------------------------------------------------

@if $cs-neutral-light--enabled {
  .cs-neutral-light {
    @include cs-neutral-light();
  }
}
