/* -------------------------------------------------------------------------
 * BOX
 */

$c_box__border-width:             0 !default;
$c_box__border-color:             transparent !default;
$c_box__border-style:             none !default;
$c_box__border-radius:            0 !default;

$c-box__sp-inset:                 $f-space--medium !default;
