/* -------------------------------------------------------------------------
 * BOX
 */

// Component variables

@import "vars";


// Component output

.c-box {
  @include o-box();
  @include sp-inset($c-box__sp-inset);
  border: $c_box__border-width $c_box__border-style $c_box__border-color;
  border-radius: $c_box__border-radius;
}
