// Wrapper variables
// --------------------------------------------------

// Object toggling

$o-wrapper--enabled:                  false !default;

// Modifiers Breakpoints

$o-wrapper__mod-bp-from--enabled:     true !default;
$o-wrapper__mod-bp-to--enabled:       true !default;
$o-wrapper__mod-bp:                   map-remove($f-breakpoints, "xxs") !default;
