/* -------------------------------------------------------------------------
 * WRAPPER
 *
 * Page-level constraining and wrapping elements.
 *
 */


// Object variables
// --------------------------------------------------

@import "vars";


// Object selector output
// --------------------------------------------------

@mixin o-wrapper() {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @include t-clearfix;
}

@if ($o-wrapper--enabled) {
  .o-wrapper {
    @include o-wrapper;
  }
}


// Size modifiers (from)
// --------------------------------------------------

@mixin o-wrapper--from($_bp-name: "xs") {
  @each $_s-bp-name, $_s-bp-size in $o-wrapper__mod-bp {

    @if ($_s-bp-size >= map-get($o-wrapper__mod-bp, $_bp-name)) {
      @include t-mq($from: $_s-bp-name) {
        max-width: s-core-px-to-rem(map-get($o-wrapper__mod-bp, $_s-bp-name));
      }
    }
  }
}

@if ($o-wrapper--enabled and $o-wrapper__mod-bp-from--enabled) {
  @each $_bp-name, $_bp-size in $o-wrapper__mod-bp {
    .o-wrapper--from#{s-core-string-breakpoint($_bp-name)} {
      @include o-wrapper--from($_bp-name);
    }
  }
}


// Size modifiers (to)
// --------------------------------------------------

@mixin o-wrapper--to($_bp-name: "xs") {
  @each $_s-bp-name, $_s-bp-size in $o-wrapper__mod-bp {

    @if ($_s-bp-size >= map-get($o-wrapper__mod-bp, $_bp-name)) {
      @include t-mq($from: $_s-bp-name) {
        max-width: s-core-px-to-rem(map-get($o-wrapper__mod-bp, $_bp-name));
      }
    }
  }
}

@if ($o-wrapper--enabled and $o-wrapper__mod-bp-to--enabled) {
  @each $_bp-name, $_bp-size in $o-wrapper__mod-bp {
    .o-wrapper--to#{s-core-string-breakpoint($_bp-name)} {
      @include o-wrapper--to($_bp-name);
    }
  }
}
