
/* -------------------------------------------------------------------------
 * HORIZONTAL RULES
 *
 * Ensure to use border bottom as width source
 *
 */


// Hr variables

$e-hr__width:                     1px !default;
$e-hr__color:                     $e-document__body--color !default;


// Hr output

hr {
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: $e-hr__width;
  border-color: $e-document__body--color;
}
