
/* -------------------------------------------------------------------------
 * BUTTONS
 *
 * Reset the button appearance
 *
 */


// Button variables

$e-buttons__border-width:         0 !default;
$e-buttons__border-color:         transparent !default;
$e-buttons__border-style:         none !default;
$e-buttons__border-radius:        0 !default;

$e-buttons__margin-v:             0 !default;
$e-buttons__margin-h:             0 !default;
$e-buttons__padding-v:            0 !default;
$e-buttons__padding-h:            0 !default;

$e-buttons__bg-color:             transparent !default;


// Button output

button {
  margin: $e-buttons__margin-v $e-buttons__margin-h;
  padding: $e-buttons__padding-v $e-buttons__padding-h;
  border: $e-buttons__border-width $e-buttons__border-style $e-buttons__border-color;
  border-radius: $e-buttons__border-radius;
  background-color: $e-buttons__bg-color;
  text-align: left;
  cursor: pointer;
}
