// Layout variables
// --------------------------------------------------

// Object toggling

$o-layout--enabled:                           true !default;

// Object Params

$o-layout__space:                             $g-reset__spacing--horizontal !default;

// Modifiers spaces

$o-layout__mod-spaces--enabled:               false !default;
$o-layout__mod-spaces:                        map_remove($f-spaces, "large", "huge") !default;

// Modifiers Alignments

$o-layout__mod-alignments-v--enabled:         false !default;
$o-layout__mod-alignments-v:                  (top, middle, bottom) !default;

$o-layout__mod-alignments-h--enabled:         false !default;
$o-layout__mod-alignments-h:                  (left, center, right) !default;

// Modifiers Reverse

$o-layout__mod-reverse--enabled:              false !default;

// Modifiers Stretch

$o-layout__mod-stretch--enabled:              true !default;

// Smart layout sizes
$o-layout__mod-items-auto--enabled:           true !default;
$o-layout__mod-items-auto: (
  "medium": (
    "xxs":      1,
    "sm":      2
  )
) !default;
