<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="fonts/arimo.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/arimo-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <% for (var stylesheet in htmlWebpackPlugin.files.css) { %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[stylesheet] %>">
  <% } %>

  <link rel="preload" href="host-app-data.json" as="fetch" type="application/json">

  <% for (var script in htmlWebpackPlugin.files.js) { %>
  <script type="text/javascript" async src="<%= htmlWebpackPlugin.files.js[script] %>"></script>
  <% } %>

</head>
<body class="l-dashboard">

<main class="l-dashboard__wrapper">
  <section class="l-dashboard-item" id="apdex-board-dani-fornells" data-js-api="apdexBoard" data-apdex-board__data-src="host-app-data.json">
    <div class="l-dashboard-item__header">
      <h2 class="l-dashboard-item__title m-heading m-heading--large">Apps by host</h2>
      <p class="l-dashboard-item__owner m-body m-body--large">for user daniel.fornells.garcia@gmail.com</p>
      <div class="l-dashboard-item__options c-form-checkbox">
        <input class="c-form-checkbox__input" type="checkbox" id="apdex-board-dani-fornells__display-list" data-apdex-board__display-toggle autocomplete="off"/>
        <label class="c-form-checkbox__label" for="apdex-board-dani-fornells__display-list">Show as list</label>
      </div>
    </div>
    <div class="o-layout o-layout--stretch o-layout--items-medium l-dashboard-item__body is-unresolved"  data-unresolved-msg="Fetching your app data ..." data-apdex-board__content></div>
  </section>
</main>

<section class="l-dashboard__wrapper">

</section>

</body>
</html>
