/* -------------------------------------------------------------------------
 * FORM CHECKBOX
 */


$c-form-checkbox:                           $f-space--small !default;

$c-form-checkbox__input-size:               20px !default;
$c-form-checkbox__input-bg-color:           $f-color__neutral-white !default;
$c-form-checkbox__input-border-width:       1px !default;
$c-form-checkbox__input-border-style:       solid !default;
$c-form-checkbox__input-border-color:       $f-color__neutral-grey !default;
$c-form-checkbox__input-border-radius:      4px !default;

$c-form-checkbox__label-font-size:          $f-font-size--s !default;

$c-form-checkbox__input-size--checked:      12px !default;
$c-form-checkbox__input-bg-color--checked:  $f-color__state-active !default;
$c-form-checkbox__input-border-radius--checked: 2px !default;
