/* -------------------------------------------------------------------------
 * FORM CHECKBOX
 */

// Component variables

@import "vars";


// Component output

.c-form-checkbox {
  user-select: none;
}

.c-form-checkbox__input {
  display: none;
}

.c-form-checkbox__label {
  $_absolute-top: ($c-form-checkbox__input-size - $c-form-checkbox__label-font-size) * -.5;
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  font-size: $c-form-checkbox__label-font-size;
  line-height: $c-form-checkbox__input-size;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: $_absolute-top;
    width: $c-form-checkbox__input-size;
    height: $c-form-checkbox__input-size;
    border: $c-form-checkbox__input-border-width $c-form-checkbox__input-border-style $c-form-checkbox__input-border-color;
    background: $c-form-checkbox__input-bg-color;
    border-radius: $c-form-checkbox__input-border-radius;
  }
  &::after {
    $_absolute-top__difference: ($c-form-checkbox__input-size - $c-form-checkbox__input-size--checked) * .5;
    content: '';
    position: absolute;
    display: none;
    top: $_absolute-top + $_absolute-top__difference;
    left: ($c-form-checkbox__input-size - $c-form-checkbox__input-size--checked) * .5;
    width: $c-form-checkbox__input-size--checked;
    height: $c-form-checkbox__input-size--checked;
    background-color: $c-form-checkbox__input-bg-color--checked;
    border-radius: $c-form-checkbox__input-border-radius--checked;
    .c-form-checkbox__input:checked + & {
      display: block;
    }
  }
}


