/* -------------------------------------------------------------------------
 * INSET VERTICAL
 *
 * To give space between container and content only in top and bottom spaces
 *
 * TIP:
 * You can modify the amount of generated spaces by overriding the $sp-inset-v__spaces variable.
 *
 */

// Spacing variables
// --------------------------------------------------

// Spacing toggling

$sp-inset-v__enabled:              false !default;

// Spaces

$sp-inset-v__spaces:               $f-spaces !default;


// Space as a mixin
// --------------------------------------------------

@mixin sp-inset-v($_spacing-value) {
  padding-top: $_spacing-value;
  padding-bottom: $_spacing-value;
}

// Space selector output
// --------------------------------------------------

@if ($sp-inset-v__enabled) {
  @each $_spacing-name, $_spacing-value in $sp-inset-v__spaces {
    .sp-inset-v--#{$_spacing-name} {
      @include sp-inset-v($_spacing-value);
    }
  }
}
