/* -------------------------------------------------------------------------
 * STACK
 *
 * To separate stacked elements.
 *
 * TIP:
 * You can modify the amount of generated spaces by overriding the $sp-stack__spaces variable.
 *
 */

// Spacing variables
// --------------------------------------------------

// Spacing toggling

$sp-stack__enabled:           false !default;

// Spaces

$sp-stack__spaces:            $f-spaces !default;

// Space as a mixin
// --------------------------------------------------

@mixin sp-stack($_spacing-value) {
  margin-bottom: $_spacing-value;
}

// Space selector output
// --------------------------------------------------

@if ($sp-stack__enabled) {
  @each $_spacing-name, $_spacing-value in $sp-stack__spaces {
    .sp-stack--#{$_spacing-name} {
      @include sp-stack($_spacing-value);
    }
  }
}
